body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}