body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.button1{
    background: #e8491d;
    height: 38px;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

/* Header */
header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 3px solid #e8491d;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}


header ul{
    margin: 0;
    padding: 0;
}

header li{
    display: inline;
    padding: 0 20px 0 20px; 
}

.matha{
    display: flex;
    justify-content: space-between;
}

header #branding h1{
    margin: 0;
}

header nav{
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}

header a:hover{
    color: #cccccc;
    font-weight: bold;
}


/* Showcase */

#showcase{
    min-height: 400px;
    background: url(img/showcase.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #ffffff;
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 20px;
    margin-bottom: 130px;
}



#newsletter{
    padding: 10px;
    color: #ffffff;
    background: #35424a;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



#newsletter h3{
    font-size: 25px;
}

#newsletter div input{
    height: 34px;
    padding-left: 20px;
    padding-right: 20px;
}


/* box  */


#boxes > .container{
    margin: 30px auto;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, auto);
}


.box{
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 5px;

}

.box img{
    width: 100px;
}


footer{
    background-color: #e8491d;
    padding: 20px 0;
}

footer p{
    color: white;
    text-align: center;
}

footer a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}